In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('names.zip')
print(len(df.index))
df.head()

25865740

           author   n
0          Lee4an  46
1  Partypooper009  80
2       Jenna1021  41
3      ALMEHZA_02   1
4     Fakehashish  32

In [19]:
df = df.dropna()
names = df['author'].tolist()
names.sort()
print(len(names))

25865739

In [20]:
names = [x for x, y in zip(names[:-1], names[1:]) if x != y[:len(x)]] + [names[-1]]

In [21]:
print(len(names))
print(len(max(names, key=len)))

23766417

'IHaveBigBalls_jasonbroken'